@import '../../scss/mixins';
@import '../../scss/variables';

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-footer;
    height: 155px;
    gap: 25px;

    @include mobile {
        gap: 5px;
    }

    p {
        color: $color-white;

        @include mobile {
            font-size: 12px;
        }
    }
}